.recipes_list {
    display: flex;
    padding: 0.5% 0 0.5% 0;
    margin-top: 5%;
}

.fa-trash-can {
    cursor: pointer;
    margin-left: 1%;
}

.right_part_uu {
    width: 200px;
   max-width: 200px;
   text-align: left;
}