div {
    text-align: center;
    margin: 1%;
    
}

.cards{
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: aqua;
    border-radius: 25px;
    width: 500px;
    height: auto;
    padding: 2%;
}


